.form_box{
    background-color:#f2f2f2; ;
    .form{
       padding: 50px 0;
        .form__container{
           .form__item{
               margin-bottom: 30px;
               .form__img{
                   overflow: hidden;
                    img{
                        width: 100%;
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
               }
           } 
           .form__text{
               display: flex;
               flex-direction: column;
               justify-content: center;
               margin: 20px 0;
               span{
                color: #b6b6b6;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 18px;
                display: inline-block;
                letter-spacing: 2px;
                text-align: justify;
               }
               h4{
                text-align: justify;
                   padding: 5px 0;
                   font-size: 20px;
                   color: #333;
                   font-weight: 600;
    
               }
               p{
                    color: #a8a8a8;
                    font-size: 16px;
                    margin-top: 5px;
                    font-weight: 500;
                
                   text-align: justify;
               }
            }
            a{
                padding: 8px 16px;
                font-size: 16px;
                border: 2px solid;
              
                border-color: #555;
                color: #555;
                background: transparent;
                display: inline-block;
                font-weight: 700;
                &:hover{
                    background-color: #000;
                    color: #fff;
                    border-color: #000;
                }
            }
        }
    }
}