@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
.product .product__discription {
  margin-bottom: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .product__discription .product__discription__box {
  width: 60%;
}

.product .product__discription .product__discription__box h3 {
  font-size: 30px;
  color: #000;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.product .product__discription .product__discription__box h3::before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #000;
  bottom: -10px;
  margin: 5px 0;
}

.product .product__discription .product__discription__box p {
  font-size: 16px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 28px;
}

.product .product__box .product__container .grap {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}

.product .product__box .product__container .product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  border: 1px solid #7f8c8d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.product .product__box .product__container .product__item:hover {
  border: 1px solid #2c3e50;
}

.product .product__box .product__container .product__item .product__item-img {
  text-align: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.product .product__box .product__container .product__item .product__item-img .img-product {
  width: 100%;
}

.product .product__box .product__container .product__item .product__item-img #a.small, .product .product__box .product__container .product__item .product__item-img #b.small, .product .product__box .product__container .product__item .product__item-img #c.small, .product .product__box .product__container .product__item .product__item-img #d.small, .product .product__box .product__container .product__item .product__item-img #e.small, .product .product__box .product__container .product__item .product__item-img #f.small, .product .product__box .product__container .product__item .product__item-img #g.small, .product .product__box .product__container .product__item .product__item-img #h.small {
  -webkit-animation: small 0.5s linear;
          animation: small 0.5s linear;
}

@-webkit-keyframes small {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes small {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.product .product__box .product__container .product__item .product__item-img .product__item-img-nav {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product .product__box .product__container .product__item .product__item-img .product__item-img-nav img {
  max-width: 28%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
  border: 1px solid #000;
}

.product .product__box .product__container .product__item .product__item-img .product__item-img-nav .nav-a.xanh {
  border: 1px solid #f01919;
}

.product .product__box .product__container .product__item .product__item-img .product__item-img-nav .nav-b.xanh {
  border: 1px solid #f01919;
}

.product .product__box .product__container .product__item .product__item-img .product__item-img-nav .nav-c.xanh {
  border: 1px solid #f01919;
}

.product .product__box .product__container .product__item .product__item-img .product__item-img-nav .nav-d.xanh {
  border: 1px solid #f01919;
}

.product .product__box .product__container .product__item .product__name {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 0 10px 0;
}

.product .product__box .product__container .product__item .product__name h3 {
  color: #2c3e50;
}

.product .product__box .product__container .product__item .product__name .add-cart {
  color: #fff;
  background-color: #7f8c8d;
  width: 82%;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  display: inline-block;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .product__box .product__container .product__item .product__name .add-cart:hover {
  color: #fff;
  background-color: #000;
}

.product .product__box .product__container .product__item .product__name .add-cart i {
  padding-right: 5px;
}

.product .product__box .product__container .product__item .item-price {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #2c3e50;
  font-family: 'Baloo Thambi 2', cursive;
}

@media (max-width: 767px) {
  .product .product__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=product.css.map */